server:
  port: 8080

spring:
  application:
    name: novel-editor-backend
  datasource:
    # User mentioned using credentials from .env, but .env currently only has SQLite config.
    # defaulting to standard local MariaDB settings.
    url: jdbc:mariadb://127.0.0.1:3306/novel_editor?createDatabaseIfNotExist=true
    username: root
    password: 123456 
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MariaDBDialect
